{% extends '::base.html.twig' %}

{% block title %}Profiling{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Profiling Run #{{ profiling.Id }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td><strong>Server Name</strong></td>
                        <td>{{ profiling.getServerName }}</td>
                    </tr>
                    <tr>
                        <td><strong>Script</strong></td>
                        <td>{{ profiling.getRequestUri }}</td>
                    </tr>
                    <tr>
                        <td><strong>Request Method</strong></td>
                        <td>{{ profiling.getRequestMethod }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <td><strong>Walltime</strong></td>
                                <td class="text-right">{{ profiling.getWallTime }}</td>
                            </tr>
                            <tr>
                                <td><strong>CPU</strong></td>
                                <td class="text-right">{{ profiling.getCpu }}</td>
                            </tr>
                            <tr>
                                <td><strong>Memory</strong></td>
                                <td class="text-right">{{ profiling.getMemory }}</td>
                            </tr>
                            <tr>
                                <td><strong>Peak Memory</strong></td>
                                <td class="text-right">{{ profiling.getPeakMemory }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td><strong>GET</strong></td>
                        <td>
                            <table class="table table-striped">
                                {% for key, param in profiling.getGetParams %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ param }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>POST</strong></td>
                        <td>
                            <table class="table table-striped">
                                {% for key, param in profiling.getPostParams %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ param }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>COOKIE</strong></td>
                        <td>
                            <table class="table table-striped">
                                {% for key, param in profiling.getCookiesParams %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ param }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Function</th>
                            <th>ct</th>
                            <th>wt</th>
                            <th>cpu</th>
                            <th>mu</th>
                            <th>pmu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for function, data in data %}
                            <tr>
                                <td>{{ function }}</td>
                                <td class="text-right">{{ data.ct }}</td>
                                <td class="text-right">{{ data.wt }}</td>
                                <td class="text-right">{{ data.cpu }}</td>
                                <td class="text-right">{{ data.mu }}</td>
                                <td class="text-right">{{ data.pmu }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

