{% extends 'XhprofGuiBundle::layout.html.twig' %}

{% block title %}Profilings list{% endblock %}

{% block content %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Timestamp</th>
            <th>Script</th>
            <th>Server</th>
            <th>Walltime</th>
        </tr>
        </thead>
        <tbody>
        {% for profiling in profilings %}
            <tr>
                <td><a href="{{ path('xhprof_gui_show', {'id': profiling.getId}) }}">{{ profiling.getId }}</a></td>
                <td>{{ profiling.getTimestamp().format('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('xhprof_gui_show', {'id': profiling.getId}) }}">{{ profiling.getRequestUri }}</a>
                </td>
                <td>{{ profiling.getServerName }}</td>
                <td>{{ profiling.getWalltime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

