{% extends 'XhprofGuiBundle::layout.html.twig' %}

{% block title %}{% trans %}profiling{% endtrans %}{% endblock %}
{% block subtitle %}{{ profiling.getRequestUri }}{% endblock %}
{% block subtitle_right %}{{ profiling.getTimestamp()|localizeddate('medium', 'medium') }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <a href="{{ path('xhprof_gui_show', {'id': profiling.getId}) }}">{% trans %}back-to-overview{% endtrans %}</a>
        <h4 class="lead">{% trans %}details-for-function{% endtrans %} <u>{{ function_name }}</u></h4>
    </div>
    <div class="col-lg-12">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>{% trans %}col-function{% endtrans %}</th>
                <th class="text-right">{% trans %}col-calls{% endtrans %}</th>
                <th class="text-right">{% trans %}col-walltime{% endtrans %}</th>
                <th class="text-right">{% trans %}col-excl-walltime{% endtrans %}</th>
                <th class="text-right">{% trans %}col-cpu{% endtrans %}</th>
                <th class="text-right">{% trans %}col-excl-cpu{% endtrans %}</th>
                <th class="text-right">{% trans %}col-memory{% endtrans %}</th>
                <th class="text-right">{% trans %}col-excl-memory{% endtrans %}</th>
                <th class="text-right">{% trans %}col-peak-memory{% endtrans %}</th>
                <th class="text-right">{% trans %}col-excl-peak-memory{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <th colspan="10">{% trans %}partial-current-function{% endtrans %}</th>
                </tr>
            {% for function, row in data.current %}
                <tr>
                    <td><a href="{{ path('xhprof_gui_partial', {'id': profiling.getId, 'function_id': row.id}) }}">{{ function }}</a></td>
                    <td class="text-right">{{ row.ct|localizednumber }}</td>
                    <td class="text-right">{{ row.wt|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_wt|localizednumber }}</td>
                    <td class="text-right">{{ row.cpu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_cpu|localizednumber }}</td>
                    <td class="text-right">{{ row.mu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_mu|localizednumber }}</td>
                    <td class="text-right">{{ row.pmu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_pmu|localizednumber }}</td>
                </tr>
            {% endfor %}
                <tr class="active">
                    <th colspan="10"></th>
                </tr>
            {%  if data.parents|length > 0 %}
                <tr class="success">
                    <th colspan="10">{% trans %}partial-parent-function{% endtrans %}</th>
                </tr>
            {% for function, row in data.parents %}
                <tr>
                    <td><a href="{{ path('xhprof_gui_partial', {'id': profiling.getId, 'function_id': row.id}) }}">{{ function }}</a></td>
                    <td class="text-right">{{ row.ct|localizednumber }}</td>
                    <td class="text-right">{{ row.wt|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_wt|localizednumber }}</td>
                    <td class="text-right">{{ row.cpu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_cpu|localizednumber }}</td>
                    <td class="text-right">{{ row.mu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_mu|localizednumber }}</td>
                    <td class="text-right">{{ row.pmu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_pmu|localizednumber }}</td>
                </tr>
            {% endfor %}
                <tr class="active">
                    <th colspan="10"></th>
                </tr>
            {% endif %}
            {%  if data.children|length > 0 %}
                <tr class="success">
                    <th colspan="10">{% trans %}partial-child-function{% endtrans %}</th>
                </tr>
            {% for function, row in data.children %}
                <tr>
                    <td><a href="{{ path('xhprof_gui_partial', {'id': profiling.getId, 'function_id': row.id}) }}">{{ function }}</a></td>
                    <td class="text-right">{{ row.ct|localizednumber }}</td>
                    <td class="text-right">{{ row.wt|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_wt|localizednumber }}</td>
                    <td class="text-right">{{ row.cpu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_cpu|localizednumber }}</td>
                    <td class="text-right">{{ row.mu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_mu|localizednumber }}</td>
                    <td class="text-right">{{ row.pmu|localizednumber }}</td>
                    <td class="text-right">{{ row.excl_pmu|localizednumber }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

