{% extends 'XhprofGuiBundle::layout.html.twig' %}

{% block title %}{% trans %}Profiling{% endtrans %}{% endblock %}
{% block subtitle %}{{ profiling.getRequestUri }}{% endblock %}
{% block subtitle_right %}{{ profiling.getTimestamp()|localizeddate('medium', 'medium') }}{% endblock %}

{% block content %}
    <div class="col-lg-8">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}General{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td class="info_table_header"><strong>{% trans %}Server Name{% endtrans %}</strong></td>
                            <td>{{ profiling.getServerName }}</td>
                        </tr>
                        <tr>
                            <td class="info_table_header"><strong>{% trans %}Script{% endtrans %}</strong></td>
                            <td>{{ profiling.getRequestUri }}</td>
                        </tr>
                        <tr>
                            <td class="info_table_header"><strong>{% trans %}Request Method{% endtrans %}</strong></td>
                            <td>{{ profiling.getRequestMethod }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans %}Profiling data{% endtrans %}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tr>
                                <td class="info_table_header"><strong>{% trans %}Walltime{% endtrans %}</strong></td>
                                <td class="text-right">{{ profiling.getWallTime|localizednumber }} microsecs</td>
                            </tr>
                            <tr>
                                <td class="info_table_header"><strong>{% trans %}CPU{% endtrans %}</strong></td>
                                <td class="text-right">{{ profiling.getCpu|localizednumber }} cycles</td>
                            </tr>
                            <tr>
                                <td class="info_table_header"><strong>{% trans %}Memory{% endtrans %}</strong></td>
                                <td class="text-right">{{ profiling.getMemory|localizednumber }} bytes</td>
                            </tr>
                            <tr>
                                <td class="info_table_header"><strong>{% trans %}Peak Memory{% endtrans %}</strong></td>
                                <td class="text-right">{{ profiling.getPeakMemory|localizednumber }} bytes</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}Request{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td class="info_table_header"><strong>GET</strong></td>
                        <td>
                            <table class="table table-striped">
                                {% for key, param in profiling.getGetParams %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ param }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="info_table_header"><strong>POST</strong></td>
                        <td>
                            <table class="table table-striped">
                                {% for key, param in profiling.getPostParams %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ param }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="info_table_header"><strong>COOKIE</strong></td>
                        <td>
                            <table class="table table-striped">
                                {% for key, param in profiling.getCookiesParams %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ param }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="col-lg-12">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans %}Function{% endtrans %}</th>
                    <th class="text-right">{% trans %}Calls{% endtrans %}</th>
                    <th class="text-right">{% trans %}Incl. Wall Time (microsec){% endtrans %}</th>
                    <th class="text-right">{% trans %}Excl. Wall Time (microsec){% endtrans %}</th>
                    <th class="text-right">{% trans %}Incl. CPU (cycles){% endtrans %}</th>
                    <th class="text-right">{% trans %}Excl. CPU (cycles){% endtrans %}</th>
                    <th class="text-right">{% trans %}Incl. Memory{% endtrans %}</th>
                    <th class="text-right">{% trans %}Excl. Memory{% endtrans %}</th>
                    <th class="text-right">{% trans %}Incl. Peak Memory{% endtrans %}</th>
                    <th class="text-right">{% trans %}Excl. Peak Memory{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for function, data in data %}
                    <tr>
                        <td>{{ function }}</td>
                        <td class="text-right">{{ data.ct|localizednumber }}</td>
                        <td class="text-right">{{ data.wt|localizednumber }}</td>
                        <td class="text-right">{{ data.excl_wt|localizednumber }}</td>
                        <td class="text-right">{{ data.cpu|localizednumber }}</td>
                        <td class="text-right">{{ data.excl_cpu|localizednumber }}</td>
                        <td class="text-right">{{ data.mu|localizednumber }}</td>
                        <td class="text-right">{{ data.excl_mu|localizednumber }}</td>
                        <td class="text-right">{{ data.pmu|localizednumber }}</td>
                        <td class="text-right">{{ data.excl_pmu|localizednumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}

